<div id="<%= dom_id property %>">
  <p>
    <strong>Cost:</strong>
    <%= property.cost %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= property.location %>
  </p>

  <p>
    <strong>Bedroom quantity:</strong>
    <%= property.bedroom_quantity %>
  </p>

  <p>
    <strong>Bathroom quantity:</strong>
    <%= property.bathroom_quantity %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= property.link %>
  </p>

</div>
